<h1>Give me a spot feedback</h1>

<% if !Array(flash[:alert]).empty? %>
  <ul>
  <% Array(flash[:alert]).each do |err| %>
    <li><%= err %></li>
  <% end %>
  </ul>
<% end %>

<div class="double_textbox">
  <%= form_for @feedback do |f| %>
    <%= f.label :author %><br>
    <%= f.text_field :author %><p style="display:inline"><em>(optional)</em></p><br>

    <%= f.label :body %><br>
    <%= f.text_area :body %>
  <div class="livebox">
    <textarea name="livetext" id="livetext" cols="40" rows="20"></textarea>
  </div><br>

    <%= f.label :rating %><br>
    <%= f.select :rating, *[1..5] %><span><em>5 is the best!</em></span><br>

    <%= f.submit %>
  <% end %>
</div>