<h1>Give me a spot feedback</h1>

<% if !Array(flash[:alert]).empty? %>
  <ul>
  <% Array(flash[:alert]).each do |err| %>
    <li><%= err %></li>
  <% end %>
  </ul>
<% end %>

  <%= form_for @feedback do |f| %>
    <%= f.label :author %><br>
    <%= f.text_field :author %><p style="display:inline"><em>(optional)</em></p><br>

    <%= f.label :body %><br>
    <%= f.text_area :body %>
  <textarea id="updatedMarkdown" rows='20' cols='40' ></textarea><br>

    <%= f.label :rating %><br>
    <%= f.select :rating, *[1..5] %><span><em>5 is the best!</em></span><br>

    <%= f.submit %>
  <% end %>

