<!DOCTYPE html>
<html>
<head>
  <title>SimpleFeedback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <%= javascript_include_tag "initialize" %>
  <%= javascript_include_tag "controller" %>
  <%= javascript_include_tag "model" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
